body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
}

.col-sm-offset-2,
.col-md-offset-3,
.col-md-6 {
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

.col-sm-6 {
    width: 100%; /* Full width on small screens */
}

@media (min-width: 768px) { /* Adjust based on your breakpoint */
    .col-sm-6 {
        width: 48%; /* Adjust width for larger screens */
    }
}
h1 {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 1px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    max-width: 100%; /* Adjusted width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.btn-block {
    width: 100%;
}
.w3-codespan {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.col-sm-offset-2 {
    background-color: #fff;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.4);
    padding: 20px;
}
.col-md-offset-3 {
    margin-left: auto;
    margin-right: auto;
}

/* Hover Effects */
.btn:hover {
    opacity: 0.8;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn.form-control:hover {
    opacity: 0.8;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Form Styles */
.form-control {
    width: calc(100% - 16px);
    /* Adjusted width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    word-wrap: break-word;
}
.form-control.option {
    margin: 0px;
    width: 100%;

}
.form-control:hover {
    border: 1px solid #7f7f80;
}
/* Progress Bar Styles */
.progress {
    margin-bottom: 20px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial, sans-serif;
    text-indent: initial;
    border-spacing: 2px;
    padding: 20px;
    border-top: 2px solid #ddd;
    margin-top: 8px;
    margin-bottom: 8px;
    word-wrap: break-word;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}





/* Additional Styles */
#select_condition,
#loadedCondition,
#firstButton,
#testJSON,
#buttonid {
    margin-bottom: 20px;
}

/* Pre Styles */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 20px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

/* Additional Styles */
.btn-group {
    display: flex;
}

.btn-group-justified {
    justify-content: space-between;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.chart {
    margin-bottom: 20px;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
    color: #428bca;
    text-decoration: none;
    background: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}